/* Filter 컴포넌트 */
@use 'var.module.scss' as v;

.container {
  display: flex;
  width: 100%;
  height: 2.4rem;
  padding-bottom: 0.3rem;

  .filter_number_two {
    display: flex;
    width: 6.7rem;
    height: 2.4rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: v.$main-gray;
    margin-left: 0.8rem;
    overflow: hidden;
  }

  .filter_number_three {
    display: flex;
    width: 10rem;
    height: 2.4rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: v.$main-gray;
    margin-left: 0.8rem;
    overflow: hidden;
  }

  .filter_option {
    display: flex;
    width: 3rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    background-color: v.$main-gray;
    &:hover {
      cursor: pointer;
    }
  }

  .filter_option_focused {
    display: flex;
    width: 3rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    color: v.$white;
    background-color: v.$main-green;
    border-radius: 5px;
  }
}
