/* Header 컴포넌트 */
@use 'var.module.scss' as v;

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem 0;
  border-bottom: 1px solid v.$main-gray;

  .logo {
    display: flex;
    .logo_img {
      width: auto;
      height: 3.5rem;
    }
  }

  .search {
    display: flex;
    width: 30rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: 2px solid v.$main-green;
    border-radius: 15px;
    margin-right: 2rem;
    box-shadow: 0.5px 0.5px 0.5px 0.5px v.$main-shadow-gray;
    background-color: v.$white;

    .search_text {
      width: 90%;
      height: 2.5rem;
      margin: 0 1rem 0 1rem;
      border: none;
      font-size: 1rem;
    }

    .search_icon {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      right: 0.8rem;
      fill: v.$main-green;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .user {
    display: flex;
    width: 8rem;
    justify-content: space-evenly;
    align-items: center;

    .mobileSearch {
      display: none;
    }

    .info {
      .info_icon {
        width: 1.3rem;
        height: 1.3rem;
      }
    }

    .login {
      .login_icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .logout {
      .logout_icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

/** 반응형 웹 포맷 **/
@media (max-width: 965px) {
  .wrapper {
    .search {
      width: 22rem;
    }

    .user {
      width: 6rem;
    }
  }
}

// 반응형 모바일 기준
@media (max-width: 644px) {
  .wrapper {
    padding: 1rem 0;
    justify-content: space-between;
    .logo {
      margin-left: 1rem;
      .logo_img {
        height: 3rem;
      }
    }

    .search {
      display: none;
      position: absolute;
      width: 90%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 5;
    }

    .search_clicked {
      display: flex;
    }

    .user {
      width: 7rem;

      .mobileSearch {
        display: flex;
        .search_icon {
          width: 1.1rem;
          height: 1.1rem;
        }

        &:hover {
          cursor: pointer;
          fill: v.$main-green;
        }
      }

      .info {
        .info_icon {
          width: 1.1rem;
          height: 1.1rem;
        }
      }

      .login {
        .login_icon {
          width: 1.3rem;
          height: 1.3rem;
        }
      }
    }
  }
}
