/* Login 페이지 */
@use 'var.module.scss' as v;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    margin: 2rem 0 1rem 0;
    .logo_img {
      width: auto;
      height: 3.5rem;
    }
  }

  .contents {
    display: flex;
    width: 550px;
    min-height: 450px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid v.$main-deep-gray;
    overflow: hidden;

    .input {
      display: flex;
      width: 22rem;
      flex-direction: column;
      margin-bottom: 1.5rem;

      .input_text {
        height: 2.5rem;
        border: none;
        font-size: 1rem;
        border-bottom: 2px solid v.$main-deep-gray;
        padding-left: 0.1rem;

        &:focus {
          border-bottom: 2px solid v.$main-green;
        }
      }
    }

    .login_btn {
      width: 22rem;
      height: 3rem;
      font-size: v.$font-size-lg;
      border-radius: 5px;
      margin-top: 2rem;
    }

    .join_btn {
      display: flex;
      margin-top: 4rem;
      font-size: v.$font-size-lg;
      text-decoration: underline;
    }
  }
}

// 반응형 모바일 기준
@media (max-width: 644px) {
  .container {
    .logo {
      .logo_img {
        height: 3.5rem;
      }
    }

    .contents {
      width: 85vw;

      .input {
        width: 70%;
      }

      .login_btn {
        width: 70%;
        font-size: v.$font-size-md;
      }

      .join_btn {
        font-size: v.$font-size-md;
      }
    }
  }
}
