/* Main 페이지 */
@use 'var.module.scss' as v;

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .searchFilter {
    display: flex;
    width: 100%;
    height: 2.4rem;
    padding-bottom: 0.3rem;
    margin-left: 0.5rem;
  }

  .quizList {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    gap: 25px 25px;
    padding: 1rem 0 1rem 0;
  }
}
