/* QuizFilter 컴포넌트 */
@use 'var.module.scss' as v;

.wrapper {
  .quizFilter_two {
    display: flex;
    width: 6.7rem;
    height: 2.4rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: v.$main-gray;
    margin-right: 0.8rem;
    overflow: hidden;
    box-shadow: 0.5px 0.5px 0.5px 0.5px v.$main-shadow-gray;
    font-size: v.$font-size-md;
  }

  .quizFilter_three {
    display: flex;
    width: 10rem;
    height: 2.4rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: v.$main-gray;
    margin-right: 0.8rem;
    overflow: hidden;
    box-shadow: 0.5px 0.5px 0.5px 0.5px v.$main-shadow-gray;
    font-size: v.$font-size-md;
  }

  .quizFilter_option {
    display: flex;
    width: 3rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    background-color: v.$main-gray;
    &:hover {
      cursor: pointer;
    }
  }

  .quizFilter_option_focused {
    display: flex;
    width: 3rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    color: v.$white;
    background-color: v.$main-green;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px v.$main-shadow-gray;
  }

  // 반응형 모바일 기준
  @media (max-width: 644px) {
    .quizFilter_two {
      width: 6rem;
      height: 2.2rem;
      margin-right: 0.4rem;
      font-size: v.$font-size-sm;
    }

    .quizFilter_three {
      width: 9rem;
      height: 2.2rem;
      margin-right: 0.4rem;
      font-size: v.$font-size-sm;
    }

    .quizFilter_option {
      width: 2.7rem;
      height: 1.9rem;
    }
  }
}
