/* QuizCard 컴포넌트 */
@use 'var.module.scss' as v;

.wrapper {
  display: flex;
  position: relative;
  width: 18rem;
  height: 20rem;
  flex-direction: column;
  border: 1px solid v.$main-gray;
  border-radius: 5px;
  background-color: v.$main-gray;
  overflow: hidden;
  box-shadow: 0.5px 0.5px 0.5px 0.5px v.$main-shadow-gray;
  margin: 1rem;

  .type {
    display: flex;
    position: absolute;
    width: 2.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    font-size: v.$font-size-2xs;
    font-weight: bold;
    top: 0.5em;
    right: 0.5rem;
    border: 1.5px solid v.$main-deep-gray;
    border-radius: 5px;
    background-color: v.$main-gray;

    &:hover {
      cursor: default;
    }
  }

  .thumbnail {
    display: flex;
    width: 100%;
    height: 65%;
    overflow: hidden;
    .thumbnail_img {
      height: 100%;
      object-fit: cover;
    }
  }

  .detail {
    display: none;
    position: absolute;
    width: 100%;
    height: 65%;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(v.$main-deep-gray, 0.85);

    &:hover {
      cursor: pointer;
    }

    .label {
      display: flex;
      font-size: v.$font-size-2xs;
      font-weight: bold;
      padding: 1rem 0 0 1.1rem;
    }

    .comment {
      display: flex;
      height: 60%;
      word-break: break-all;
      padding: 0 1rem;
      font-size: v.$font-size-sm;
    }

    .playCount {
      display: flex;
      height: 20%;
      word-break: break-all;
      padding: 0 1rem;
      font-size: v.$font-size-sm;
    }
  }

  .visible {
    display: flex;
  }

  .quizInfo {
    display: flex;
    width: 100%;
    height: 22%;
    overflow: hidden;
    .title {
      padding: 0.5rem;
      word-break: break-all;
      font-weight: bold;
    }
  }

  .btns {
    display: flex;
    width: 100%;
    height: 13%;
    justify-content: space-evenly;

    .playBtn {
      display: flex;
      width: 12rem;
      height: 2.2rem;
      justify-content: center;
      text-align: center;
      align-items: center;
      border-radius: 5px;
      background-color: v.$main-deep-gray;

      .playIcon {
        height: 0.85rem;
        margin-right: 0.5rem;
      }

      &:hover {
        fill: v.$white;
        color: v.$white;
        background-color: v.$main-green;
        transition: all 0.3s;
      }
    }

    .infoBtn {
      display: flex;
      width: 4rem;
      height: 2.2rem;
      justify-content: center;
      text-align: center;
      align-items: center;
      border-radius: 5px;
      background-color: v.$main-deep-gray;

      .infoIcon {
        width: 0.85rem;
      }

      &:hover {
        cursor: pointer;
        fill: v.$white;
        color: v.$white;
        background-color: v.$main-green;
        transition: all 0.3s;
      }
    }
  }

  &:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
  }
}

/** 반응형 웹 포맷 **/
// 반응형 모바일 기준
@media (max-width: 644px) {
  .wrapper {
    width: 100vw;
    height: calc(100vw * 0.9);

    .quizInfo {
      .title {
        font-size: v.$font-size-lg;
      }
    }

    .type {
      width: 3rem;
      height: 1.8rem;
    }

    .detail {
      .label {
        font-size: v.$font-size-sm;
      }

      .comment {
        font-size: v.$font-size-md;
      }

      .playCount {
        font-size: v.$font-size-md;
      }
    }

    .btns {
      .playBtn {
        width: 70%;
        height: 80%;
        font-size: v.$font-size-lg;
      }

      .infoBtn {
        width: 20%;
        height: 80%;
      }
    }
  }
}
