/* 전역 변수 선언 */
// 폰트 사이즈
$font-size-2xs: 11px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 22px;
$font-size-3xl: 30px;
$font-size-4xl: 35px;

// 색상
$main-green: #6bde85;
$main-deep-green: #65cf7c;
$main-shadow-gray: #aaaaaa;
$main-deep-gray: #c4c4c4;
$main-gray: #eaeaea;
$white: #ffffff;
$black: #000000;
$red: #ff0000;
