/* CSS 기본 */
@charset "utf-8";

@use 'styles/var.module.scss' as v;

@font-face {
  font-family: 'Noto Sans KR';
  src: url(../public/fonts/noto-sans-kr.woff2) format('woff2');
}

#root {
  height: 100%;
  margin: auto;
}

* {
  font-family: 'Noto Sans KR';
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

li {
  float: left;
}

a {
  text-decoration: none;
  color: v.$black;

  &:hover {
    color: v.$main-green;
    fill: v.$main-green;
  }
}

button {
  justify-content: center;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  color: v.$white;
  background-color: v.$main-green;

  &:hover {
    cursor: pointer;
    background-color: v.$main-deep-green;
  }
}

input:focus {
  outline: none;
}

/* 추가 설정 */
// 텍스트 선택 차단
.select_ban {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
